.home-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.error {
    width: 35%;
    height: 5%;
    color: #db2828;
    font-size: 12px;
    background: #FFE8E6;
    border: 1px solid #db2828;
    border-radius: 2px;
    position: fixed;
    top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    animation-name: fade;
    animation-duration: .2s;
    animation-timing-function: linear;
}

.shake {
    animation-name: shake;
    animation-duration: .1s;
    animation-iteration-count: 5;
}

@keyframes fade {
    from {
        opacity: .5;
    }
    to {
        opacity: 1;
    }
}

@keyframes shake {
    from {
        margin-left: 3px;
    }
    to {
        margin-left: 0px;
        margin-right: 3px;
    }
}

/* Login */
.login-container {
    width: 30vw;
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-input {
    width: 64%;
    height: 6%;
    border: 1px solid #eaeaea;
    border-radius: 2px;
    outline: none;
    padding-left: 5px;
    margin: 2% 0;
}

.btn {
    width: 65%;
    height: 6%;
    border: none;
    border-radius: 2px;
    margin: 2% 0;
    outline: none;
}

.login {
    background: #2185d0;
    border: 1px solid #2185d0;
    color: white;
}

.register {
    background: #e0e1e2;
    color: rgba(0,0,0,.8);
}

/* Register */
.register-container {
    width: 30vw;
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}